In [1]:
#Data structures and tuples
tup = 4, 5, 6
tup 
print(tup)

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8) 
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0, 2]) 
tup = tuple('string') 
tup

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
#Unpacking tuples
tup = (4, 5, 6) 
a, b, c = tup 
c

6

In [7]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)] 
for a, b, c in seq: 
 print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [10]:
#Tuple methods
a = (1, 2, 2, 2, 3, 4, 2) 
a.count(2)

4

In [12]:
#Lists
a_list = [2, 3, 7, None] 
tup = ('foo', 'bar', 'baz') 
b_list = list(tup) 
b_list 
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [15]:
gen = range(20) 
gen 
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [16]:
#Adding and removing elements
b_list.append('dwarf') 
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [17]:
b_list.insert(1, 'red') 
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [18]:
b_list.pop(2) 
b_list

['foo', 'red', 'baz', 'dwarf']

In [19]:
b_list.remove('foo') 
b_list

['red', 'baz', 'dwarf']

In [20]:
'dwarf' not in b_list

False

In [21]:
#Concatening and combining elements
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [22]:
x = [4, None, 'foo'] 
x.extend([7, 8, (2, 3)]) 
x

[4, None, 'foo', 7, 8, (2, 3)]

In [25]:
#Sorting
a = [7, 2, 5, 1, 3] 
a.sort() 
print(a)

[1, 2, 3, 5, 7]

In [27]:
# Binary search and maintaining a sorted list
import bisect
c = [1, 2, 2, 2, 3, 4, 7] 
bisect.bisect(c, 2) 
bisect.bisect(c, 5) 
bisect.insort(c, 6) 
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [28]:
#Slicing
seq = [7, 2, 3, 7, 5, 6, 0, 1] 
seq[1:5]

[2, 3, 7, 5]

In [29]:
seq[:5] 
seq[3:]

[7, 5, 6, 0, 1]

In [30]:
seq[-4:] 
seq[-6:-2]

[3, 7, 5, 6]

In [31]:
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

In [32]:
#Built in sequence forms
some_list = ['foo', 'bar', 'baz'] 
mapping = {} 
for i, v in enumerate(some_list): 
 mapping[v] = i 
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [33]:
#Sorted
sorted([7, 1, 2, 6, 0, 3, 2]) 
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [34]:
#Zip
seq1 = ['foo', 'bar', 'baz'] 
seq2 = ['one', 'two', 'three'] 
zipped = zip(seq1, seq2) 
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [35]:
seq3 = [False, True] 
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [37]:
for i, (a, b) in enumerate(zip(seq1, seq2)): 
 print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [38]:
#reversed
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [39]:
#dict
empty_dict = {} 
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]} 
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [40]:
d1[7] = 'an integer'
d1 
d1['b']

[1, 2, 3, 4]

In [41]:
'b' in d1

True

In [42]:
#Creating dicts from sequences
mapping = dict(zip(range(5), reversed(range(5)))) 
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [44]:
#Default values
words = ['apple', 'bat', 'bar', 'atom', 'book'] 
by_letter = {} 
for word in words: 
 letter = word[0] 
 if letter not in by_letter: 
  by_letter[letter] = [word] 
 else: 
  by_letter[letter].append(word) 
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [45]:
#Valid dict keys
hash('string') 
hash((1, 2, (2, 3))) 
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [46]:
d = {} 
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [47]:
#Set
set([2, 2, 2, 1, 3, 3]) 
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [50]:
a = {1, 2, 3, 4, 5} 
b = {3, 4, 5, 6, 7, 8} 
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
c = a.copy() 
c |= b 
c 
d = a.copy() 
d &= b 
d

{3, 4, 5}

In [52]:
#List, Set, and Dict Comprehensions
strings = ['a', 'as', 'bat', 'car', 'dove', 'python'] 
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [53]:
loc_mapping = {val : index for index, val in enumerate(strings)} 
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [55]:
#Nested list comprehensions
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], 
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']] 
result = [name for names in all_data for name in names 
 if name.count('e') >= 2] 
result

['Steven']

In [56]:
#FUNCTIONS
#Namespaces, Scope, and Local Functions
a = None
def bind_a_variable(): 
 global a 
 a = [] 
bind_a_variable() 
print(a)

[]

In [65]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 
 'south carolina##', 'West virginia?']

In [66]:
#Functions are objects
import re
def clean_strings(strings): 
 result = [] 
 for value in strings: 
  value = value.strip() 
 value = re.sub('[!#?]', '', value) 
 value = value.title() 
 result.append(value) 
 return result 
clean_strings(states)

['West Virginia']

In [67]:
clean_strings(states)

['West Virginia']

In [68]:
def remove_punctuation(value): 
 return re.sub('[!#?]', '', value) 
clean_ops = [str.strip, remove_punctuation, str.title] 
def clean_strings(strings, ops): 
 result = [] 
 for value in strings: 
  for function in ops: 
    value = function(value) 
 result.append(value) 
 return result

In [69]:
clean_strings(states, clean_ops)

['West Virginia']

In [71]:
for x in map(remove_punctuation, states): 
 print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [72]:
#Anonymous lambda functions
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x)))) 
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [73]:
#Generators
some_dict = {'a': 1, 'b': 2, 'c': 3} 
for key in some_dict: 
 print(key)

a
b
c

In [76]:
def squares(n=10): 
 print('Generating squares from 1 to {0}'.format(n ** 2)) 
 for i in range(1, n + 1): 
  yield i ** 2
  gen = squares() 
gen

range(0, 20)

In [77]:
#Generator expressions
gen = (x ** 2 for x in range(100)) 
gen

In [78]:
sum(x ** 2 for x in range(100)) 
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [79]:
#itertools module
import itertools
first_letter = lambda x: x[0] 
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven'] 
for letter, names in itertools.groupby(names, first_letter): 
 print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [80]:
#Errors and exception handling
float('1.2345') 
float('something')

ValueError: could not convert string to float: 'something'

In [82]:
def attempt_float(x): 
 try: 
  return float(x) 
 except: 
  return x

In [83]:
attempt_float('1.2345') 
attempt_float('something')

'something'

In [85]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [86]:
def attempt_float(x): 
 try: 
  return float(x) 
 except ValueError: 
  return x

In [88]:
attempt_float((1, 2))

(1, 2)

In [89]:
def attempt_float(x): 
 try: 
   return float(x) 
 except (TypeError, ValueError): 
   return x